.top{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    align-items: center;
    margin-left: 30%;
}

.btn{
    display: flex;
    gap: 15px;

}

button{
    padding: 10px;
    border-radius: 10px;
    
}