body {
            font-family: Arial, sans-serif;
            background: #f5f5f5;
            padding: 20px;
             background: linear-gradient(135deg, #b8c6df, #f5f7fa);
        }

.indexbox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.home{
  border-radius: 30px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 40px;
  width: 600px;
}
.home button{
    width: 30%;
    padding: 10px;
    font-size: 17px;
    background-color: #4e73df;
    color: white;
    border-radius: 10px;
}
.home button:hover{
    background-color: #2e59d9;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 90px;
}

#booksContainer{
  margin-top: 25px;
  display: grid;
  gap: 25px;
  margin-left: 220px;
  margin-right: 220px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.addform{
    width: 450px;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
button,#filterCategory {
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
        cursor: pointer;
        transition: 0.3s ease;
        background-color: #4e73df;
        color: white;
        border-radius: 10px;
        font-size: 17px;
        }
button:hover{
    transform: scale(1.1);
    border-color: rgb(226, 173, 173);
    background-color: #2e59d9;
}
.addform input, .addform select{
 width: 80%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  background: rgba(255,255,255,0.7);
}

.sortfilter{
    width: 450px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.card {
        background: white;
        padding: 15px;
        color: black;
        text-align: center;
        border-radius: 12px;
        text-align: center;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 10px;
}
