.outer{
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            height: 100vh;
            box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
        }
        .inner{
            display: flex;
            flex-direction: column; 
            gap: 10px;
            width: 40%;
            box-shadow: 0px 3px 8px rgba(0,0,0,0.15);
            padding: 80px;
            border-radius: 10px;
            
        }
        .inner input{
            padding: 15px;
            border-radius: 10px;
            font-size: 18px;    
        }
        .inner input:first-child{
            margin-bottom: 25px;
        }
        .rowbtn{
            margin-top: 35px;
            margin-bottom: 50px;
            display: flex;
            justify-content: space-between;
            
        }
        .rowbtn button{
            padding: 17px;
            border-radius: 10px;
            transition: transform 0.3s ease;
        }
        .rowbtn button:hover{
            transform:scale(1.1);
            border: 1px solid rgba(224, 67, 67, 0.901);
        }
        #divText{
            text-align: center;
            font-size: 20px;
            padding: 40px;
            border-radius: 7px ;
            overflow-wrap: break-word;
              
        }