p {
  font-size: 16px;
  margin: 5px 0;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    gap: 65px;

}

button{
    padding: 20px;
    border-radius: 10px;

}

button:hover{
border: 1px solid  red;
}

.top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}